body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

input {
    padding: 8px;
}

button {
    padding: 8px 12px;
    margin-left: 5px;
}

li {
    list-style: none;
    background: white;
    margin: 5px auto;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
}